.ProductGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filling-empty-space-childs {
  width: 300px;
  height: 0; /*Important! for the divs to collapse should they fall in a new row*/
}

@media only screen  and (max-width: 667px) {
  .ProductGrid {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .filling-empty-space-childs {
    width: 271px;
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
  }
}

@media only screen and (min-width: 668px) and (orientation: portrait) {
  .ProductGrid {
    width: auto;
    flex-wrap: wrap;
  }

  .filling-empty-space-childs {
    width: 300px;
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
  }
}
