.product {
  flex: 0 25%;
  margin-bottom: 2%;
}
.product-img {
  width: 271px;
}

h3.product-name {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: normal;
  width: 271px;
}

.c--anim-btn span {
  /* color: white; */
  text-decoration: none;
  text-align: left;
  display: block;
  width: 271px;
}

.c--anim-btn,
.c-anim-btn {
  transition: 0.3s;
}

.c--anim-btn {
  height: 30px;
  font: normal normal 700 1em/2em Arial, sans-serif;
  overflow: hidden;
  width: 200px;
  margin: 0;
}

.c-anim-btn {
  margin-top: 0em;
  color: rgba(84, 84, 84, 0.8);
}

.addToCart {
  color: #d8b7a2;
}

.product:hover .c-anim-btn {
  margin-top: -2em;
}
@media (max-width: 576px) {
  .product-img {
    width: auto;
    padding: 10px;
  }

  .product-name {
    margin: 0;
    padding: 15px 15px 0 15px;
  }

  .price-box {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  h3.product-name {
    width: 85vw;
  }
}

@media only screen and (min-width: 668px) and (orientation: portrait) {
  .slider-tab.flex-item,
  .Selection {
    width: auto;
    flex-wrap: wrap;
  }

  .product {
    flex: 0 1 25%;
    margin: 12px;
  }

  .product-img {
    width: 360px;
  }
}
